.container {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  white-space: nowrap;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.4rem;
  border-color: var(--dark-gray);
  background: transparent;
  padding: 0.7rem 0.3rem 0.1rem;
}

.container:focus-within {
  outline: var(--focus-outline);
  color: blue;
}

.untitled {
  padding: 0.1rem 0.3rem;
}

.invalid {
  outline: var(--error-outline);
  color: red;
}

.title {
  position: absolute;
  background-color: white;
  top: -22%;
  left: 3%;
  font-size: min(0.9rem, 2vw);
}
