.list-section {
  margin-bottom: 0.4rem;
}

.list-section>h2 {
  margin: 0 0 0.2rem 0;
  font-size: var(--small-text-size);
  font-style: italic;
  border-bottom: 0.1rem solid var(--dark-gray);
}

.list-section>ul {
  list-style-type: none;
  padding-left: 0;
}

.list-section>ul>li:hover {
  background-color: var(--lighter-gray);
}
