.list-with-sections-title {
  margin: 0;
  position: absolute;
  background-color: white;
  top: -12px;
  left: 7px;
  font-size: var(--small-text-size);
  font-weight: 900;
}

.list-with-sections {
  list-style-type: none;
  font-size: var(--small-text-size);
  margin: 0 0 0 0;
  padding: 0;
  height: 100%;
  min-width: 15dvw;
  overflow-y: scroll;
}

.list-with-sections>li {
  margin-bottom: 0.4rem;
}

.list-with-sections>li>h2 {
  margin: 0 0 0.2rem 0;
  font-size: var(--small-text-size);
  font-style: italic;
  border-bottom: 0.1rem solid var(--dark-gray);
}

.list-with-sections>li>ul {
  list-style-type: none;
  padding-left: 0;
}

.list-with-sections>li>ul>li:hover {
  background-color: var(--lighter-gray);
}