.list-with-sections-title {
  margin: 0;
  position: absolute;
  background-color: white;
  top: -12px;
  left: 7px;
  font-size: var(--small-text-size);
  font-weight: 900;
}

.list-with-sections {
  list-style-type: none;
  font-size: var(--small-text-size);
  margin: 0 0 0 0;
  padding: 0;
  height: 100%;
  min-width: 15dvw;
  overflow-y: scroll;
}
