:root {
  --light-gray: hsl(0, 0%, 60%);
  --dark-gray: hsl(0, 0%, 40%);
  --white: hsl(0, 0%, 100%);
  --text-size: min(3vw, 1.5rem);
  --focus-outline: 0.15rem solid blue;
  --error-outline: 0.15rem solid red;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--dark-gray);
  font-family: sans-serif;
}

strong {
  font-weight: 900;
}

input {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
  color: var(--light-gray);
}

input[type=number] {
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

select {
  font-family: inherit;
}