:root{
  --light-gray: hsl(0, 0%, 60%);
  --dark-gray: hsl(0, 0%, 40%);
  --white: hsl(0, 0%, 100%);
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--dark-gray);
}

form {
  display: flex;
  flex-direction: column;
  height: 99vh;
  padding: 0.1rem;
}

#form-top {
  display: flex;
  flex-flow: row nowrap;
  gap: 2%;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: var(--dark-gray);
  margin: 0;
  background-color: var(--white);
}

#form-top>div {
  flex-basis: 100%;
  min-width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 0.1rem;
  row-gap: 0.1rem;
}

.field {
  padding: 0.1rem 0.3rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  border-color: var(--dark-gray);
  background: none;
  font: unset;
  font-size: medium;
}

.field::placeholder {
  color: var(--light-gray);
}

.tab-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.1rem;
  padding: 0 0.15rem 0;
  margin: 0;
}

.tab-button {
  padding: 0.2rem;
  flex-basis: 100%;
  font: unset;
  font-size: medium;
  background: var(--white);
  border-style: none solid solid;
  border-width: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  border-color: var(--dark-gray);
  box-shadow: inset 0 0.5rem 0.5rem -0.3rem var(--dark-gray);
}

.tab-button[aria-selected="false"]:hover {
  background: var(--light-gray);
}

.tab-button[aria-selected="true"] {
  box-shadow: none;
}

.tab-panel {
  flex-grow: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  border-style: solid solid none;
  border-radius: 0.5rem 0.5rem 0 0;
  border-color: var(--dark-gray);
  background-color: var(--white);
}

.status-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: var(--dark-gray);
  background-color: var(--white);
}

.status-text{
  margin: 0;
}
