input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#form-top {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  gap: 2%;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: darkgrey;
}

#form-top>div {
  flex-basis: 100%;
  min-width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 0.1rem;
  row-gap: 0.1rem;
}

.loading-div {
  margin: auto;
}

.field {
  padding: 0.1rem 0.3rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  border-color: darkgrey;
  background: none;
  font: unset;
  font-size: medium;
}
