table {
  border: 0.1rem solid var(--dark-gray);
  border-radius: 0.4rem;
  border-spacing: 0px;
  padding: 0.3rem;
}

caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

tr:nth-child(even) {
  background-color: var(--lighter-gray);
}

th,
td {
  max-width: 18rem;
  padding: 0.3rem 0.5rem;
  text-align: left;
  font-size: var(--small-text-size);
}

th[scope="col"] {
  white-space: nowrap;
  text-transform: uppercase;
}
