#status-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: var(--dark-gray);
  background-color: var(--white);
}

#status-text {
  margin: 0;
  font: unset;
  font-size: var(--text-size);
}